nav {
	background-color: rgb(204, 229, 146);
	width: 10em;
  margin-left:-8em;
}
nav:hover {
  margin-left:0;
}
nav ul {
	padding-left: 25px;
}

h1 {
	text-align: center;
	background-color: rgb(98, 147, 42);
	width: 20em;
  padding:6px;
 }

body {
	/*background-color: rgb(211,211,211);*Need to revise changing the font by element w/o applying to body*/
	font-family: "arial";
	margin:0;
}

article {
	margin-left: 20px;
}

img {
	width: 250px;
	border: 3px solid green;
	padding: 8px;
}

table {
  margin-top: 10px;
  border-collapse:collapse;
 }
table, th, td {
  border: 1px solid gray;
} 

th, td {
  padding: 5px;
}
tr:hover {
  background-color: rgb(204, 229, 146) 
  }
