
 
 
h1 {
	text-align: center;
	background-color: rgb(98, 147, 42);
	width: 20em;
}

body {
	/*background-color: rgb(211,211,211);*Need to revise changing the font by element w/o applying to body*/
	font-family: "arial";
	margin:0;
}

nav {

	background-color: rgb(204, 229, 146);
	width: 20em;
}

nav ul {
	padding-left: 25px;
}

article {
	margin-left: 20px;
}

img {
	width: 250px;
	border: 5px solid green;
	padding: 8px;
}

